---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_ACCESS_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"nQfSEcyZ4AGFfPB2L.k52omB7mfjPPfMUmIqX8cOukVPtUVopuSW2fvLo8LcZ4oVuiPA69fJ723o7T2GlU.kg.SBZbzal5C.Hykf7rLbcYw3qj1EnofAq6lLyZhXCSsB5Rp1FdzokOlogB3n.x1UN9.jd1tEKG4HNuKSbuFeiqC9DoPeVt1dda.RBiB.lal4vJMOw9TmW.rxhDliR3ZebemjD_rEgh06raYdd75BGnRbEiqP3TY.mTkLF9_KLQn14Mgae2LFzbBn61Ig_youenBqIpiGlNAKMBx5sIKY_LbFUCWx7KPDZmlwmjuF.c1CXbBqMdnrTCVEF0gWC0l6Vi0Do0d6__DZEWjzMHMeu9JfSK00oNRq8Y8BfguofkfHSp93_OR.o1pDw9fjNBCfcnZTwMW.dirjs.9avCqunPwnjOn92dVoB3NmJzuU5BDh16rP7BRf74Puihw.3UIQR1qSejH6OOc3TtIwe9S.QjmiX3V1RgwQ.R2Rti3aqgXH7Vxiw0QbOTQAIy7mqmr9DEa6Xgy.Hu62NW9YDBFT9pG3ME4IyC1aex4oZPx5Xd9BNUz6DCNeYuiak18MN65HOMRuDtC7sE1Ybwapqtqixmzl_NEPUVsU9qSmfbi7FX9eYXv83IVQ20VVafNyJ2O.IFRIUkozBPkMVPINUZRVnQ.U5IT43sRb_0A4kTMGqIwrWHbBTiCGQoxxKdKanUKIU7a2dH_1j00JomlWUGMFxANpLPGBQaK0vmOSFTPxggMJeqXpsPx8mZv1DH5bioTPBaKeldY7MySdNmpMbThSlZhLgptzOrV6pE_NJK0-","refresh_token":"<YAHOO_GEMINI_TEST_ACCESS_TOKEN>","expires_in":3600,"token_type":"bearer","xoauth_yahoo_guid":"V6UETU74T45TKREPJTZSREGB5U"}'
  recorded_at: Thu, 01 Sep 2016 15:32:27 GMT
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v2/rest/campaign?advertiserId=1643871
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer nQfSEcyZ4AGFfPB2L.k52omB7mfjPPfMUmIqX8cOukVPtUVopuSW2fvLo8LcZ4oVuiPA69fJ723o7T2GlU.kg.SBZbzal5C.Hykf7rLbcYw3qj1EnofAq6lLyZhXCSsB5Rp1FdzokOlogB3n.x1UN9.jd1tEKG4HNuKSbuFeiqC9DoPeVt1dda.RBiB.lal4vJMOw9TmW.rxhDliR3ZebemjD_rEgh06raYdd75BGnRbEiqP3TY.mTkLF9_KLQn14Mgae2LFzbBn61Ig_youenBqIpiGlNAKMBx5sIKY_LbFUCWx7KPDZmlwmjuF.c1CXbBqMdnrTCVEF0gWC0l6Vi0Do0d6__DZEWjzMHMeu9JfSK00oNRq8Y8BfguofkfHSp93_OR.o1pDw9fjNBCfcnZTwMW.dirjs.9avCqunPwnjOn92dVoB3NmJzuU5BDh16rP7BRf74Puihw.3UIQR1qSejH6OOc3TtIwe9S.QjmiX3V1RgwQ.R2Rti3aqgXH7Vxiw0QbOTQAIy7mqmr9DEa6Xgy.Hu62NW9YDBFT9pG3ME4IyC1aex4oZPx5Xd9BNUz6DCNeYuiak18MN65HOMRuDtC7sE1Ybwapqtqixmzl_NEPUVsU9qSmfbi7FX9eYXv83IVQ20VVafNyJ2O.IFRIUkozBPkMVPINUZRVnQ.U5IT43sRb_0A4kTMGqIwrWHbBTiCGQoxxKdKanUKIU7a2dH_1j00JomlWUGMFxANpLPGBQaK0vmOSFTPxggMJeqXpsPx8mZv1DH5bioTPBaKeldY7MySdNmpMbThSlZhLgptzOrV6pE_NJK0-
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2016-09-01 15:32:28","response":[{"status":"PAUSED","language":"en","campaignName":"Insurance
        Policy","budget":20,"budgetType":"DAILY","lastUpdateDate":1439996805935,"conversionRuleConfig":null,"conversionRuleIds":null,"effectiveStatus":"PAUSED","advancedGeoPos":"DEFAULT","advancedGeoNeg":"DEFAULT","objective":"VISIT_WEB","advertiserId":1643871,"createdDate":1405105001520,"isPartnerNetwork":"TRUE","id":335433150,"channel":"SEARCH"},{"status":"PAUSED","language":"en","campaignName":"Insurance
        Rating","budget":20,"budgetType":"DAILY","lastUpdateDate":1461601777161,"conversionRuleConfig":null,"conversionRuleIds":null,"effectiveStatus":"PAUSED","advancedGeoPos":"DEFAULT","advancedGeoNeg":"DEFAULT","objective":"VISIT_WEB","advertiserId":1643871,"createdDate":1405105001520,"isPartnerNetwork":"TRUE","id":335433154,"channel":"SEARCH"},{"status":"PAUSED","language":"en","campaignName":"Pharmacy","budget":20,"budge[...]
