---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"KKT.IZndnUdBNO4mFyLOS5qG5Zrugc7JH1clEdhyjAHJEE7C82j73a3JRwb44_ycxbgHTkxawgwwxF3reJyw4md9.XbdEx8bLR33EuemBAWJR1Lp_1eDxpojOFZOcyrlpK4UFmjjjZGiYIvr9vEobn61OgSsudjoIlEw5P3CEjE946OJiKjD43EsnyIM9aoo7xygGpCcSRHWny1_BcPHe42_r7mtY3sKvBF1KCDnyY1Mi8G9QbpXa8jE72QdetZT5rU4A.c_M11iFSHZ0C33OlQ2.9VhMedH2aSLwHBS_nRZrapnCyB2YQjiE.enD48E_xxbVokPzQwsxhwgvxXzjGbXJ1EYH8tMfyEkDidYgKpjUho6YnvspVUw5wlGfLiqWaF1ZYu_lGKZ5RfDSllh5Jk_i4I5CUG3K87rL3nY3AP2zc0AF2OmiUihs8MVPr_uzwezj1opmQB46RqSLXmBTLx8HmkV5.AGmrnytFvV8vSIz0QIbDG5gi5.pLG8z1a96UfOlwySxXWGbgSQjw9kJlJSdPw6dasM.o1G434OFNl3MyE0xHk3aaETC0546RPgjPvnL2Eh4Egw_p1vTNTyHObM.ABCjo.hnU9gueTLBWZ9DZbAhvR2ODSNMopuHYfPsjirHLuwWrg5aYDn5UJ62Ip_nQZQlTbaNc5G6GUk2DguhKuX9O_eb9z6CeIfCP05Ocs8IH3.Cp0rHxN.zPdu3cV5zRuB_7tmPIMF4KRpYwh9OuR4OphghVcmLvk.Y01y0UepjoiKuOYsdwQ95PCtX_N6dcJtKCtSrsByAiGQhAksm1Jns_RE9qcjKBBCDw--","expires_in":3600,"token_type":"bearer","refresh_token":"<YAHOO_GEMINI_TEST_REFRESH_TOKEN>","xoauth_yahoo_guid":"OGJHGR64FXCAF2UALZOCYSY42Y"}'
  recorded_at: Thu, 06 Aug 2015 08:23:09 GMT
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v1/rest/campaign/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KKT.IZndnUdBNO4mFyLOS5qG5Zrugc7JH1clEdhyjAHJEE7C82j73a3JRwb44_ycxbgHTkxawgwwxF3reJyw4md9.XbdEx8bLR33EuemBAWJR1Lp_1eDxpojOFZOcyrlpK4UFmjjjZGiYIvr9vEobn61OgSsudjoIlEw5P3CEjE946OJiKjD43EsnyIM9aoo7xygGpCcSRHWny1_BcPHe42_r7mtY3sKvBF1KCDnyY1Mi8G9QbpXa8jE72QdetZT5rU4A.c_M11iFSHZ0C33OlQ2.9VhMedH2aSLwHBS_nRZrapnCyB2YQjiE.enD48E_xxbVokPzQwsxhwgvxXzjGbXJ1EYH8tMfyEkDidYgKpjUho6YnvspVUw5wlGfLiqWaF1ZYu_lGKZ5RfDSllh5Jk_i4I5CUG3K87rL3nY3AP2zc0AF2OmiUihs8MVPr_uzwezj1opmQB46RqSLXmBTLx8HmkV5.AGmrnytFvV8vSIz0QIbDG5gi5.pLG8z1a96UfOlwySxXWGbgSQjw9kJlJSdPw6dasM.o1G434OFNl3MyE0xHk3aaETC0546RPgjPvnL2Eh4Egw_p1vTNTyHObM.ABCjo.hnU9gueTLBWZ9DZbAhvR2ODSNMopuHYfPsjirHLuwWrg5aYDn5UJ62Ip_nQZQlTbaNc5G6GUk2DguhKuX9O_eb9z6CeIfCP05Ocs8IH3.Cp0rHxN.zPdu3cV5zRuB_7tmPIMF4KRpYwh9OuR4OphghVcmLvk.Y01y0UepjoiKuOYsdwQ95PCtX_N6dcJtKCtSrsByAiGQhAksm1Jns_RE9qcjKBBCDw--
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2015-08-06 8:23:08","response":[{"advertiserId":1113844,"status":"PAUSED","id":342655128,"objective":"PROMOTE_BRAND","campaignName":"NativeAdsCampaign","isPartnerNetwork":"TRUE","budgetType":"LIFETIME","budget":3000,"language":"en","channel":"NATIVE"},{"advertiserId":1113844,"status":"PAUSED","id":342657111,"objective":"VISIT_WEB","campaignName":"NativeAdsCampaign","isPartnerNetwork":"TRUE","budgetType":"LIFETIME","budget":3000,"language":"en","channel":"NATIVE"},{"advertiserId":1113844,"status":"PAUSED","id":342660120,"objective":"VISIT_WEB","campaignName":"Test
        Campaign","isPartnerNetwork":"TRUE","budgetType":"LIFETIME","budget":250,"language":"en","channel":"SEARCH_AND_NATIVE"}]}'
  recorded_at: Thu, 06 Aug 2015 08:23:11 GMT
recorded_with: VCR 2.9.3
