---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_ACCESS_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"hz37txOZ4AGujE.wZkox9FV8BxRZyyMdQ4PnaMP7Nmzoio.YwBnMKxLJSEMkUif_li1jSDZiJp52qZhiTn13pPLobR14EQn48WDYAHLiZ9BF.uI6Nwl4NAHhZ1qOsLVRCbbuC1MGHABJXio1vGo3WWv.Zv4thIc6WIf6A623j6t4d1A.vPE9KChBCpk_0Ye8AyFTYKlaJatVSBiH9PTAmoWi77fa6PR4.Dyj4_z0.qSQNQfvpJEJ_w5_xYb6DZDDG4ILDjL0i8X0JeoR9bDCUE8TxqyZkoqaByJZxFKLZ8JNBkhALM79flkQKPJ8dCXVDxmEnCwPKolIKIwwF2jbvUVgb9jUm.NyJVyHXi9Ftn6AHs.E0WJgn.nClDxc4KUgnPQ3FJkhljylrgXjmEzCtqGkNIhb_NdQX.NyXuIcN2grMWdUEBQhmCII94TT44o6KFopjQEZ0FLoWw0gNVyOHN8tb3obT3Ezn0hJTgdkXOtI7M5miIYzUlI4BTEInheF.JmvyUhxUNCzfH38Iq.C3EmGIS5V987qlkqXpBOubuSIpp7jRV9GRB7rK.bWUA.0eXNsSCg3Ad2Y1KyNM.IqW8pMWntxKuAueTyKQb5s2GMT1ha4wnkuhXr8bTWNJFLGyvZjhnt62_MYsa8ZXtKJUbbqfz16ORl2iTocpvfqaJUhR2q3P36vcr8QfrJqEqCEdXTr.a4FsUYohTpK3_B0WaOD27POdlfQkZkrL.gwbcI2jzXu83Op.FBTE2Snj_bImsSSA1NaW9scM5juW6oPnFnigWAhS4qFEbQjXoDd3vXzD52fB9V_yQN1O7s-","refresh_token":"<YAHOO_GEMINI_TEST_ACCESS_TOKEN>","expires_in":3600,"token_type":"bearer","xoauth_yahoo_guid":"V6UETU74T45TKREPJTZSREGB5U"}'
  recorded_at: Thu, 01 Sep 2016 15:32:24 GMT
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v2/rest/adgroup/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer hz37txOZ4AGujE.wZkox9FV8BxRZyyMdQ4PnaMP7Nmzoio.YwBnMKxLJSEMkUif_li1jSDZiJp52qZhiTn13pPLobR14EQn48WDYAHLiZ9BF.uI6Nwl4NAHhZ1qOsLVRCbbuC1MGHABJXio1vGo3WWv.Zv4thIc6WIf6A623j6t4d1A.vPE9KChBCpk_0Ye8AyFTYKlaJatVSBiH9PTAmoWi77fa6PR4.Dyj4_z0.qSQNQfvpJEJ_w5_xYb6DZDDG4ILDjL0i8X0JeoR9bDCUE8TxqyZkoqaByJZxFKLZ8JNBkhALM79flkQKPJ8dCXVDxmEnCwPKolIKIwwF2jbvUVgb9jUm.NyJVyHXi9Ftn6AHs.E0WJgn.nClDxc4KUgnPQ3FJkhljylrgXjmEzCtqGkNIhb_NdQX.NyXuIcN2grMWdUEBQhmCII94TT44o6KFopjQEZ0FLoWw0gNVyOHN8tb3obT3Ezn0hJTgdkXOtI7M5miIYzUlI4BTEInheF.JmvyUhxUNCzfH38Iq.C3EmGIS5V987qlkqXpBOubuSIpp7jRV9GRB7rK.bWUA.0eXNsSCg3Ad2Y1KyNM.IqW8pMWntxKuAueTyKQb5s2GMT1ha4wnkuhXr8bTWNJFLGyvZjhnt62_MYsa8ZXtKJUbbqfz16ORl2iTocpvfqaJUhR2q3P36vcr8QfrJqEqCEdXTr.a4FsUYohTpK3_B0WaOD27POdlfQkZkrL.gwbcI2jzXu83Op.FBTE2Snj_bImsSSA1NaW9scM5juW6oPnFnigWAhS4qFEbQjXoDd3vXzD52fB9V_yQN1O7s-
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2016-09-01 15:32:24","response":{"status":"ACTIVE","biddingStrategy":"DEFAULT","id":12345,"advancedGeoPos":"DEFAULT","advancedGeoNeg":"DEFAULT","adGroupName":"Insurance
        Policy","startDateStr":"2013-08-22","endDateStr":"2050-01-01","campaignId":335433150,"ecpaGoal":null,"advertiserId":1643871,"lastUpdateDate":1405105027082,"bidSet":{"bids":[{"priceType":"CPC","value":0.15,"channel":"SEARCH"}]},"createdDate":1405105027082}}'
  recorded_at: Thu, 01 Sep 2016 15:32:24 GMT
recorded_with: VCR 2.9.3
