---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eTToYPrG7j7vLv_nCwgeqljb_oZInEbgFh.ZlmetgonDN5x_5AOfDYObMmjWOLR1f_Iee16tgToz0Vg6RBfbk7oSF9DtpR8M3ZRdv8SIfodI_VVodDE2dAoNu_CkUDIxl46UUrL67R6EyjU2HB.APn6ctvBY5eiYmyE_1DvSgdX7hz7.hvWN7quG6ulUjIQWRW2qKzP4hxv7alWwNWpfLPPfrJZCB_1bqyvWFU3EXtNYzPMxe_ha3wt1ZsUtwYqhD5_3vXsfpzsvCz1mRJthLKLSTwpGe0Dv23F_2sdxfXU7jpOaalk9cRy8sXofyiOMvbH_67FRdF6ItOMH3RBQlS0PGnK2iiis8evNgsIC48gcxJI3uWDClVynbcCNzQu1n7nQBhiUhPTA7Vwn7LGbn7MxqZbM2BOfWTJaJEE77dJNLzGC4F4icSQwC35aK33wBpZj9lmYBFn10SsmtWQh_hdxQkHsOva7snJjzJ.gos9wL1AKlkT7QvsrEjxaMVgCrgrPy2wD_.L1CXPv.PDP9IKsh7rdTA_QCmlWg4fYb.hcOlQKoz8vLTA.i3lpNY9oLwC1d_EXRaxjXlGVdSR6ysxticyyI4qxL2AOy7ToteNMfbmhdTxvzbxp7ehMZW6xHwPS5tu.yLqZjXFCA_T6u1YRAu16JZwjIR6k8jl2cxj9SsMd1AbHlBUHkvS3J6Epcs64SBZb1fKx_SPH6.2UFk2S7H0hsk7tfwL94NPrq7s7ZWxybLGFwvb.MO79GbLzOonF0zEX.UMXGIrkOoJNyhB0LDyQS2Ajt9qKoo10RIcOzxbvh4p.LVMZuijq","expires_in":3600,"token_type":"bearer","refresh_token":"<YAHOO_GEMINI_TEST_REFRESH_TOKEN>","xoauth_yahoo_guid":"OGJHGR64FXCAF2UALZOCYSY42Y"}'
  recorded_at: Fri, 07 Aug 2015 01:58:10 GMT
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v1/rest/advertiser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eTToYPrG7j7vLv_nCwgeqljb_oZInEbgFh.ZlmetgonDN5x_5AOfDYObMmjWOLR1f_Iee16tgToz0Vg6RBfbk7oSF9DtpR8M3ZRdv8SIfodI_VVodDE2dAoNu_CkUDIxl46UUrL67R6EyjU2HB.APn6ctvBY5eiYmyE_1DvSgdX7hz7.hvWN7quG6ulUjIQWRW2qKzP4hxv7alWwNWpfLPPfrJZCB_1bqyvWFU3EXtNYzPMxe_ha3wt1ZsUtwYqhD5_3vXsfpzsvCz1mRJthLKLSTwpGe0Dv23F_2sdxfXU7jpOaalk9cRy8sXofyiOMvbH_67FRdF6ItOMH3RBQlS0PGnK2iiis8evNgsIC48gcxJI3uWDClVynbcCNzQu1n7nQBhiUhPTA7Vwn7LGbn7MxqZbM2BOfWTJaJEE77dJNLzGC4F4icSQwC35aK33wBpZj9lmYBFn10SsmtWQh_hdxQkHsOva7snJjzJ.gos9wL1AKlkT7QvsrEjxaMVgCrgrPy2wD_.L1CXPv.PDP9IKsh7rdTA_QCmlWg4fYb.hcOlQKoz8vLTA.i3lpNY9oLwC1d_EXRaxjXlGVdSR6ysxticyyI4qxL2AOy7ToteNMfbmhdTxvzbxp7ehMZW6xHwPS5tu.yLqZjXFCA_T6u1YRAu16JZwjIR6k8jl2cxj9SsMd1AbHlBUHkvS3J6Epcs64SBZb1fKx_SPH6.2UFk2S7H0hsk7tfwL94NPrq7s7ZWxybLGFwvb.MO79GbLzOonF0zEX.UMXGIrkOoJNyhB0LDyQS2Ajt9qKoo10RIcOzxbvh4p.LVMZuijq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2015-08-07 1:58:10","response":[{"type":"ADVERTISER","currency":"PHP","status":"ACTIVE","managedBy":null,"id":1113844,"bookingCountry":"YM","advertiserName":"AELOGICA","billingCountry":"PH","language":"en","timezone":"Asia\/Manila"}]}'
  recorded_at: Fri, 07 Aug 2015 01:58:12 GMT
- request:
    method: post
    uri: https://api.admanager.yahoo.com/v1/rest/campaign/
    body:
      encoding: UTF-8
      string: '{"status":"PAUSED","campaignName":"NativeAdsCampaign","budget":3000,"language":"en","budgetType":"LIFETIME","advertiserId":1113844,"channel":"NATIVE","objective":"PROMOTE_BRAND","isPartnerNetwork":"TRUE"}'
    headers:
      Authorization:
      - Bearer eTToYPrG7j7vLv_nCwgeqljb_oZInEbgFh.ZlmetgonDN5x_5AOfDYObMmjWOLR1f_Iee16tgToz0Vg6RBfbk7oSF9DtpR8M3ZRdv8SIfodI_VVodDE2dAoNu_CkUDIxl46UUrL67R6EyjU2HB.APn6ctvBY5eiYmyE_1DvSgdX7hz7.hvWN7quG6ulUjIQWRW2qKzP4hxv7alWwNWpfLPPfrJZCB_1bqyvWFU3EXtNYzPMxe_ha3wt1ZsUtwYqhD5_3vXsfpzsvCz1mRJthLKLSTwpGe0Dv23F_2sdxfXU7jpOaalk9cRy8sXofyiOMvbH_67FRdF6ItOMH3RBQlS0PGnK2iiis8evNgsIC48gcxJI3uWDClVynbcCNzQu1n7nQBhiUhPTA7Vwn7LGbn7MxqZbM2BOfWTJaJEE77dJNLzGC4F4icSQwC35aK33wBpZj9lmYBFn10SsmtWQh_hdxQkHsOva7snJjzJ.gos9wL1AKlkT7QvsrEjxaMVgCrgrPy2wD_.L1CXPv.PDP9IKsh7rdTA_QCmlWg4fYb.hcOlQKoz8vLTA.i3lpNY9oLwC1d_EXRaxjXlGVdSR6ysxticyyI4qxL2AOy7ToteNMfbmhdTxvzbxp7ehMZW6xHwPS5tu.yLqZjXFCA_T6u1YRAu16JZwjIR6k8jl2cxj9SsMd1AbHlBUHkvS3J6Epcs64SBZb1fKx_SPH6.2UFk2S7H0hsk7tfwL94NPrq7s7ZWxybLGFwvb.MO79GbLzOonF0zEX.UMXGIrkOoJNyhB0LDyQS2Ajt9qKoo10RIcOzxbvh4p.LVMZuijq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2015-08-07 1:58:11","response":{"status":"PAUSED","budgetType":"LIFETIME","budget":3000,"id":342682009,"objective":"PROMOTE_BRAND","advertiserId":1113844,"campaignName":"NativeAdsCampaign","isPartnerNetwork":"TRUE","language":"en","channel":"NATIVE"}}'
  recorded_at: Fri, 07 Aug 2015 01:58:13 GMT
recorded_with: VCR 2.9.3
