---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"iu.GG2iYsg3azCj_9J04iZz2zokVZxHV61SlBhA4q.1BxAWozGr0sINBJNG0AY_ksxJihfQlr.nOj9NstLQQaZPFDCyMf1lTcAXCKRlud__K_rY.MV4MwLqGUWAA9ZA4jeQUmU2avW82YQQZnhlGXWplZZqRpC_8Qknej1K5cHsyazuVq1PZvcX_oWhLu.EXBpUgNk0uQjEwOX10818VmF_3kLD7FVZWoqr6LvwKdC7kES39KYkj_cGeMtfxbFeGZzmYzd5iKhgmhoGe47dMTJYVrHzlO5Kjens.6cpfR9L8SNhBXTf5aoCbFKeQuIzDdmeQIV0LenBp31F3jPJHNwQCnKKiTZGRyRb0UAD1HZReenK2mk4r.RQg7v4dbc8H4GoFvS8L3jtw.K7rnTDFqZjiFwOy8XD1TQMmIcgD.g5545zYJjzxsjxthCMpy9KWvn.m.BvQxknDs8tL9sLeNHJjsYwZ9TCRxu2LQeYRUhX0HySXoiZbQBj2OroGO5ti7qyhyi_C8szak1sEjkyMVFEW8HurQ_XlwFKwmorss_EwimeMAEjDy2aKgfByodQkbp.GLCJn4zZS3mbscE9GwLnseGZv2iuDTB.Z0epJsWfh_XV8rKPfWXmbWlYDYcTkTS9p0eQk0tQuoWbWplG.H0B4bHynZJEsAza20.CTvYc6Xm35m0ga0yZOaXsVKoPihxovDNVdun75g62hHSSWPsB5pHsIQaRsLayOCrMpK6TzVU1QR_1Q","refresh_token":"<YAHOO_GEMINI_TEST_REFRESH_TOKEN>","expires_in":3600,"token_type":"bearer","xoauth_yahoo_guid":"OGJHGR64FXCAF2UALZOCYSY42Y"}'
  recorded_at: Mon, 05 Oct 2015 01:52:02 GMT
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v1/rest/advertiser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer iu.GG2iYsg3azCj_9J04iZz2zokVZxHV61SlBhA4q.1BxAWozGr0sINBJNG0AY_ksxJihfQlr.nOj9NstLQQaZPFDCyMf1lTcAXCKRlud__K_rY.MV4MwLqGUWAA9ZA4jeQUmU2avW82YQQZnhlGXWplZZqRpC_8Qknej1K5cHsyazuVq1PZvcX_oWhLu.EXBpUgNk0uQjEwOX10818VmF_3kLD7FVZWoqr6LvwKdC7kES39KYkj_cGeMtfxbFeGZzmYzd5iKhgmhoGe47dMTJYVrHzlO5Kjens.6cpfR9L8SNhBXTf5aoCbFKeQuIzDdmeQIV0LenBp31F3jPJHNwQCnKKiTZGRyRb0UAD1HZReenK2mk4r.RQg7v4dbc8H4GoFvS8L3jtw.K7rnTDFqZjiFwOy8XD1TQMmIcgD.g5545zYJjzxsjxthCMpy9KWvn.m.BvQxknDs8tL9sLeNHJjsYwZ9TCRxu2LQeYRUhX0HySXoiZbQBj2OroGO5ti7qyhyi_C8szak1sEjkyMVFEW8HurQ_XlwFKwmorss_EwimeMAEjDy2aKgfByodQkbp.GLCJn4zZS3mbscE9GwLnseGZv2iuDTB.Z0epJsWfh_XV8rKPfWXmbWlYDYcTkTS9p0eQk0tQuoWbWplG.H0B4bHynZJEsAza20.CTvYc6Xm35m0ga0yZOaXsVKoPihxovDNVdun75g62hHSSWPsB5pHsIQaRsLayOCrMpK6TzVU1QR_1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2015-10-05 1:52:03","response":[{"type":"ADVERTISER","status":"ACTIVE","id":1113844,"currency":"PHP","managedBy":null,"advertiserName":"AELOGICA","language":"en","billingCountry":"PH","bookingCountry":"YM","timezone":"Asia\/Manila"}]}'
  recorded_at: Mon, 05 Oct 2015 01:52:03 GMT
recorded_with: VCR 2.9.3
