---
http_interactions:
- request:
    method: post
    uri: https://<YAHOO_GEMINI_TEST_CONSUMER_KEY>:<YAHOO_GEMINI_TEST_CONSUMER_SECRET>@api.login.yahoo.com/oauth2/get_token
    body:
      encoding: UTF-8
      string: client_id=<YAHOO_GEMINI_TEST_CONSUMER_KEY>&client_secret=<YAHOO_GEMINI_TEST_CONSUMER_SECRET>&grant_type=refresh_token&redirect_uri=oob&refresh_token=<YAHOO_GEMINI_TEST_ACCESS_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"VMItlUGZ4AFYTujUVgAeZVPCtf9ypQRFY3Qfo8JSbs.0IW3YLi82N382qMIxvj4dB.F2IKCuAIfqx8jo86q_uL.1Si3IVtn3IsTWpTTU5UTjPS2lAwNxK33YOlpmHaJY.y7hI8a_VijK23DvxMeroTllcxP0nMfgJZIOa38QCki724retzfW0cV4FHd_Opi4nWLBqPVXaG5KKvTZx8LhkDqSPL0dFwmf_OuI5uCAyzJxAKRnwHVhN8285E_AzulTEPPT9B2lk7gAsJhrF7o2C14JF.vfBoEpM_KUyqrQnn5h2PKy3ZPZG_PXSMnI_INSNDfob0ZZLdP55hx55Xcf_qVQny1j2Awb0sjWUsmCRas3706aJWMrcKexivnWxLrfrvHl7RMKoTqSwHq5M71eNvSitfnENSCaFFDcRqzD9up4FhJpEVnx8.8qE3iWXF27b1bS8RWmVew.MUGO.LuYOsuHy55n6UEqVkezhCSvG8bblVVqwP.KyyYaQk1kI4M.zXn9YOyrPt_m8dUfSxZfJZ8fLRZKw46RK2btd7i5cCB4iudWpaJwvXhstO6gD2klj19VaGwZhoMiidBapeTEQ.5P_tBNFX_aYN1qFyuDkBx3Hye_Z0ZJXQZRC7Eeb0CCuOexlNwho9v14.e8pfsDvs7pl434BH_AJkZAVenDPS4vIeERNmGa7DUjyj6fPbf5WgV.hbMFUekIi5VajloCH6XvZhcIY8Oot.3WaLvIzfrCY6rsixFB_rSG6GWJyjo7Au55gScEHIJ9Fx7Ry5BGjWI1Gp_sCmmbTizV6pxEdhJmkRPhgVgI8JirRA--","refresh_token":"<YAHOO_GEMINI_TEST_ACCESS_TOKEN>","expires_in":3600,"token_type":"bearer","xoauth_yahoo_guid":"V6UETU74T45TKREPJTZSREGB5U"}'
  recorded_at: Thu, 01 Sep 2016 15:32:31 GMT
- request:
    method: post
    uri: https://api.admanager.yahoo.com/v2/rest/reports/custom
    body:
      encoding: UTF-8
      string: '{"cube":"performance_stats","fields":[{"field":"Ad ID"},{"field":"Day"},{"alias":"My
        dummy column","value":""},{"field":"Impressions"},{"field":"Ad Image URL","alias":"url"}],"filters":[{"field":"Advertiser
        ID","operator":"=","value":1643871},{"field":"Campaign ID","operator":"IN","values":[10,20,30]},{"field":"Day","operator":"between","from":"2015-09-01","to":"2015-09-30"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer VMItlUGZ4AFYTujUVgAeZVPCtf9ypQRFY3Qfo8JSbs.0IW3YLi82N382qMIxvj4dB.F2IKCuAIfqx8jo86q_uL.1Si3IVtn3IsTWpTTU5UTjPS2lAwNxK33YOlpmHaJY.y7hI8a_VijK23DvxMeroTllcxP0nMfgJZIOa38QCki724retzfW0cV4FHd_Opi4nWLBqPVXaG5KKvTZx8LhkDqSPL0dFwmf_OuI5uCAyzJxAKRnwHVhN8285E_AzulTEPPT9B2lk7gAsJhrF7o2C14JF.vfBoEpM_KUyqrQnn5h2PKy3ZPZG_PXSMnI_INSNDfob0ZZLdP55hx55Xcf_qVQny1j2Awb0sjWUsmCRas3706aJWMrcKexivnWxLrfrvHl7RMKoTqSwHq5M71eNvSitfnENSCaFFDcRqzD9up4FhJpEVnx8.8qE3iWXF27b1bS8RWmVew.MUGO.LuYOsuHy55n6UEqVkezhCSvG8bblVVqwP.KyyYaQk1kI4M.zXn9YOyrPt_m8dUfSxZfJZ8fLRZKw46RK2btd7i5cCB4iudWpaJwvXhstO6gD2klj19VaGwZhoMiidBapeTEQ.5P_tBNFX_aYN1qFyuDkBx3Hye_Z0ZJXQZRC7Eeb0CCuOexlNwho9v14.e8pfsDvs7pl434BH_AJkZAVenDPS4vIeERNmGa7DUjyj6fPbf5WgV.hbMFUekIi5VajloCH6XvZhcIY8Oot.3WaLvIzfrCY6rsixFB_rSG6GWJyjo7Au55gScEHIJ9Fx7Ry5BGjWI1Gp_sCmmbTizV6pxEdhJmkRPhgVgI8JirRA--
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":null,"timestamp":"2016-09-01 15:32:31","response":{"jobId":"c2b0f56462872a0dfe7b529dcbd619c8587fe3791036735592","status":"submitted","jobResponse":null,"jobDisplayName":"ASYNC_REQUEST"}}'
  recorded_at: Thu, 01 Sep 2016 15:32:31 GMT
[...]
- request:
    method: get
    uri: https://api.admanager.yahoo.com/v2/rest/reports/custom/c2b0f56462872a0dfe7b529dcbd619c8587fe3791036735592?advertiserId=wrong_advertiser_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer vRl9PRSZ4AEy5xLBnuNuVPT23DUosbEc69bry634fMD1qErsTy8P5ECvVWpv7thOhiCrzBML46CwOLFYsCIUIxjUAy2tS_OT3MeFga_MG0apOQNjo3T.ocnB3kAZ2usoAqi16UNVnX_EAljSXCSSfRjMZ5ADQEQoS_F11zZZ7V0tNkcbquYZd3YDqEN_xEWZ8zikVVS9s6aW0wGiQ7DBmEqHre6DyeBYW_zH0WGMUS2Kmkj_0FJ2a1ogux.V1x_zaD98zgBodGBajySx8gYkBtJQS7QDkW7DMpWBmoxXCSOH5awphwXFSapGxd6ZJF4qExQsbztSWzyDFnMfj3uuPpO.7bv2bqt22Dcv05DknDooB9oxufI8WnX_ZGN1RJ_FbBqMU9EyccVmr1ROb0d8oVIaT4jzL5q4yQ0.kthE2s90QW1fPuEbFqY7f21PA.aQBp.8ZEwSfU6zO6dmdObOm2cz6irPLqCHek_dxyb8VlMJKczstYhg.ww5TGjc5VZ4m5TEWgIvGmi0rs0PJoD51SvLnvOcdBTHuGP0IugOLW4v7hyscM9sUu2BbFiQLgWwlS12.fUh_xVu.iQV9rThtxWJALPCbJpdKK8o9jyi8f6NCzmVnEtO1igZ7KAVfctQrUH38Bdl6SXJZGdfzikRo_vLJcxkDigZFfayOSg1bF.Luu7UYPNbO1G3mm8HreWKkSzB.ON9JUlbpNLGc3PWpBBYUv0RabzCGWTrjvc09_QduHiJnPHm7qUrT_QxV.c1QvZ2b3oETRCxFHzWDx1RZBSPrn20tG42vGcam8g.gN9uHMc7lgMkbDGELg--
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"errIndex":-1,"code":"E40000_INVALID_INPUT, E50000_AUTHORIZATION_ERROR","message":"Invalid
        url - query param has invalid type or format: advertiserId, Invalid url -
        path param has invalid type or format: id, Access denied to the specified
        entity (advertiser or publisher)","description":", , "}],"response":null,"timestamp":"2016-09-01
        15:32:32"}'
  recorded_at: Thu, 01 Sep 2016 15:32:32 GMT
recorded_with: VCR 2.9.3
